@import url('https://fonts.googleapis.com/css2?family=Alata&family=Stick&display=swap');

/* Fontes usadas: Stick(logo e detalhes) e Alata(Textos em geral)
font-family: 'Alata', sans-serif;
font-family: 'Stick', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alata', sans-serif;
    background-color: #0D1117;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "h h h"
    "m m m"
    "f f f";
}

header{
    grid-area: h;
    background-color: #161B22;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 80px;
    width: 100vw;
    position: relative;
}


main{
    grid-area: m;

}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card{
    padding: 2px 16px;
}

h1{
    font-size: 2rem;
    padding: 2px 20px;
}

.linha{
    width: 310px;
    height: 3px;
    background-color: aliceblue;
    margin-left: 20px;
}

p{
    padding: 2px 20px;
}

/* Tentativa 2 de fazer o menu */

#menu{
    display: none;
}

#menu:target{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

#menu{
    background-color: #1f1f1f;
    border-radius: 10px;
    height: 120px;
}

#menu > a{
    text-decoration: none;
    color: #ffffff;
    padding-top: 5px;
}

.dropper {
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    text-align: right;
}